.anchor {
  background-color: inherit;
  text-align: center;
}

.header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  float: left;
  margin-top: 12px;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.content {
  width: 100%;
  max-width: 90vw;
  margin: 5vh auto;
}

.container {
  min-height: 100vh;
}

.navbar_actions {
  margin: 0 8px;
}

@media (max-width: 580px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    display: none;
  }
  
  .logo {
    font-size: 28px;
    width: 60px;
  }

  .navbar_actions {
    width: auto;
    margin: 0 6px;
    padding: 2px 6px;
  }
}